.keypad {
  display: flex;
  flex-direction: column;
  gap: var(--button-gap);
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--button-gap);
}

/* Responsive adjustments */
@media (max-width: 360px) {
  .row {
    gap: 2px;
  }
}
